{% extends "home/nav.html" %}


{% block username %}
    {{ name }}
{% endblock %}

{% block content %}

    <ul class="nav nav-tabs">
        <li class="active"><a href="{{ url_for('home.fav') }}">我喜欢的音乐</a></li>
        <li><a href="{{ url_for('home.mybuy') }}">已购买</a></li>
        <li><a href="{{ url_for('home.pop') }}">Pop榜</a></li>
        <li><a href="{{ url_for('home.jazz') }}">Jazz榜</a></li>
        <li><a href="{{ url_for('home.rb') }}">R&B榜</a></li>
        <li><a href="{{ url_for('home.cla') }}">Classical榜</a></li>
        <li><a href="{{ url_for('home.folk') }}">Folk榜</a></li>
    </ul>

{% endblock %}