{% extends "admin/home.html" %}
{% block name %}
    管理员： {{ id }}
{% endblock %}

{% block content %}
    {% include "admin/menu.html" %}
    <div>
        {% for msg in get_flashed_messages(category_filter=["ok"]) %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                </button>
                <h4><i class="icon fa fa-check"></i> 注销成功</h4>
                {{ msg }}
            </div>
        {% endfor %}
        <div style="width: auto">
            <body>
            <table class="table">
                <thead>
                <tr>
                    <th>用户id</th>
                    <th>用户名</th>
                    <th>用户邮箱</th>
                    <th>用户电话</th>
                    <th>用户等级</th>
                    <th>账户余额</th>
                    <th>会员截止时间</th>
                    <th>注销账户</th>
                </tr>
                </thead>
                <tbody>
                {% for v in form %}
                    <tr class="warning">
                        <td>{{ v.id }}</td>
                        <td>{{ v.name }}</td>
                        <td>{{ v.email }}</td>
                        <td>{{ v.phone }}</td>
                        <td>{{ v.vclass }}</td>
                        <td>{{ v.wallet }}</td>
                        {% if v.vclass == 1 %}
                            <td>{{ v.end }}</td>
                        {% else %}
                            <td>- - -</td>
                        {% endif %}

                        <td><a target="_self" href="{{ url_for('admin.deuser',id=v.id) }}"
                               style="color: red">&nbsp;删除</a></td>
                    </tr>
                {% endfor %}
            </table>
            </body>
        </div>
    </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $("#m2").addClass("active");
        })
    </script>
{% endblock %}